version: '2.1'
networks:
  test:
services:

  localstack:
    container_name: localstack
    image: nexus.nonprod.dwpcloud.uk/docker/localstack/localstack:4.10.0@sha256:a65ee2a9d45a7a34a1f1faae515d2e577ce11210312c077700ccc82daefec238
    environment:
      SERVICES: ${LOCALSTACK_SERVICES}
      LOCALSTACK_HOST: ${LOCALSTACK_HOSTNAME}
    healthcheck:
      test: ["CMD", "curl", "http://localhost:4566/_localstack/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    expose:
      - "4566"
    networks:
      - test
    volumes:
      - ./localstack/docker-entrypoint-initaws.d:/docker-entrypoint-initaws.d

  redis-cluster:
    image: nexus.nonprod.dwpcloud.uk/docker/bitnami/redis-cluster:latest@sha256:6ba912345c06af50647577549d882b8e154adce0ac0c1281ba767717a11b6631
    ports:
      - '6379:6379'
    healthcheck:
      test: [ "CMD", "redis-cli", "-p", "6379", "ping" ]
      interval: 1s
      timeout: 3s
      retries: 30
    environment:
      - 'ALLOW_EMPTY_PASSWORD=yes'
      - 'REDIS_CLUSTER_REPLICAS=0'
      - 'REDIS_NODES=redis-cluster redis-cluster redis-cluster redis-cluster redis-cluster'
      - 'REDIS_CLUSTER_CREATOR=yes'
      - 'REDIS_CLUSTER_DYNAMIC_IPS=no'
      - 'REDIS_CLUSTER_ANNOUNCE_IP=redis-cluster'
    networks:
      - test

  cucumber-tests:
    image: ${MAVEN_DEBIAN_IMAGE}
    entrypoint: /bin/bash -c
    command:
      - |
        cat properties/debian.sources > /etc/apt/sources.list.d/debian.sources
        echo "${NEXUS_CA_CERT}" > /etc/ssl/certs/ca-certificates.crt
        echo "$NEXUS_CA_CERT" > /root.pem
        keytool -import -file "/root.pem" -alias "dwproot" -cacerts -noprompt && rm /root.pem
        update-ca-certificates --fresh
        pwd
        sh /usr/src/scripts/InstallImageMagick.sh
        sleep 5 #wait for keys to be created once localstack services are available (aws cli not available)
        mvn -Dtest=uk.gov.dwp.health.fitnotecontroller.integration.RunCukesTest ${MVN_OPTS} ${MVN_CLI_OPTS} test
    working_dir: /usr/src
    volumes:
      - .:/usr/src
      - ${MVN_M2}:/root/.m2
      - ${MVN_SETTINGS_FILE}:/root/.m2/settings.xml
      - ${APT_DIR}:/root/.apt
      - ${MAGICK_DIR}:/usr/src/magick
    environment:
      - JVM_OPTS=-Xmx12g -Xms12g -XX:MaxPermSize=2048m
      - IP=0.0.0.0
      - APT_DIR=/root/.apt
      - MAGICK_BUILD_DIR=magick/builddind

    networks:
      - test
    depends_on:
      redis-cluster:
        condition: service_healthy
      localstack:
        condition: service_healthy
